alias sudo='sudo '

# use brew findutils with their unprefixed names
alias find='gfind'
alias locate='glocate'
alias updatedb='gupdatedb'
alias xargs='gxargs'

alias rm='trash'
alias rrm='command rm -i'
alias cp='cp -i'
alias mv='mv -i'
alias mkdir='mkdir -p'
alias ls='command ls --color'

alias git='hub'
alias gs='git status'
alias ga='git add'
alias gb='git branch'
alias gc='git commit'
alias gcm='git commit -m'
alias gca='git commit -a'
alias gcam='git commit -am'
alias go='git checkout'
alias gl='git log --pretty=format:"%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset" --graph --date=relative'
alias gn='git clone'
alias gp='git push'
alias gu='git pull'
alias gi='git init'
alias gm='git merge'
alias gmt='git mergetool'
alias gf='git diff-tree --no-commit-id --name-only -r'
alias grm='git rm'
alias gmv='git mv'
alias gst='git stash'
alias gd='git diff'
alias gr='git reset'

alias subl='subl -a'
alias c='pygmentize -O style=monokai -f console256 -g'
