Sublime*UserSettings/Package Control.sublime-settings
Sublime*UserSettings/Package Control.cache
Sublime*UserSettings/Package Control.last-run
Sublime*UserSettings/Package Control.system-ca-bundle
Sublime*UserSettings/Sublime Projects
Sublime2UserSettings/bh_unicode_properties.cache
Sublime2UserSettings/MarkdownPreview.sublime-settings
vim
