Sublime*UserSettings/Package Control.sublime-settings
Sublime*UserSettings/Package Control.cache
Sublime*UserSettings/Package Control.last-run
Sublime*UserSettings/Package Control.system-ca-bundle
Sublime2UserSettings/bh_unicode_properties.cache
vim
